<app-header></app-header>
<div class="post-create-container">
  <form [formGroup]="createPostForm" (ngSubmit)="createPost()">
    <mat-form-field>
      <input matInput [formControl]="createPostForm.controls['title']" placeholder="Title">
    </mat-form-field>

    <mat-form-field>
      <textarea matInput #input [formControl]="createPostForm.controls['body']" placeholder="Body" rows="5"></textarea>
      <mat-hint align="end">{{input.value?.length || 0}}/100</mat-hint>
    </mat-form-field>

    <mat-form-field class="user-filter">
      <input type="text" placeholder="Select User" aria-label="Number" matInput
        [formControl]="createPostForm.controls['user']" [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let user of filteredUsers | async" [value]="user">
          {{user.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <button mat-raised-button color="primary">Create Post</button>
  </form>
</div>
