.post-create-container {
  padding: 10px;
  display: flex;
  justify-content: center;

  form {
    min-width: 300px;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .post-create-container {
    form {
      width: 100%;
      mat-form-field {
        width: 100%;
      }
    }
  }
}
