<app-header></app-header>
<div class="home-container">
  <form class="user-filter-form">
    <mat-form-field class="user-filter">
      <input type="text" placeholder="Select User to filter posts" aria-label="Number" matInput
        [formControl]="userFilter" [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let user of filteredUsers | async" [value]="user">
          {{user.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
  <div *ngIf="posts.length === 0">No posts available</div>
  <div class="post-container">
    <div *ngFor="let post of posts | filterPost:userIdFilter" class="post">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ post.title }}</mat-card-title>
          <div class="fill-width"></div>
          <mat-icon (click)="deletePost(post)" class="pointer">delete</mat-icon>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{ post.body }}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button (click)="viewPost(post)" mat-button>VIEW</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <button (click)="addPost()" class="create-button" mat-fab color="primary">
    <mat-icon>add</mat-icon>
  </button>
</div>
