.home-container {
  padding-bottom: 60px;

  .user-filter-form {
    .user-filter {
      padding: 10px;
    }
  }

  .post-container {
    display: flex;
    flex-wrap: wrap;
    .post {
      padding: 10px;
      box-sizing: border-box;
      flex: 0 0 25%;

      .mat-card {
        box-sizing: border-box;

        .mat-card-header {
          .mat-card-header-text {
            margin: 0 !important;
          }
        }

        .mat-card-actions {
          justify-content: flex-end;
          display: flex;
        }
      }
    }
  }

  .create-button {
    position: fixed;
    bottom: 15px;
    right: 15px;
  }
}

@media (max-width: 500px) {
  .home-container {
    .user-filter-form {
      display: flex;
      .user-filter {
        flex: 1;
      }
    }

    .post-container {
      .post {
        flex: 0 0 100%;
      }
    }
  }
}
