.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  .mat-card {
    width: 300px;

    form {
      display: flex;
      flex-direction: column;

      .mat-icon {
        font-size: inherit;
      }
    }
  }
}

@media (max-width: 500px) {
  .login-container {
    .mat-card {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      form {
        width: 100%;
        mat-form-field {
          width: 100%;
        }
      }
    }
  }
}
