<div class="login-container">
  <mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="logIn()">
        <mat-form-field>
          <input matInput placeholder="Enter your email" [formControl]="loginForm.controls['email']" required>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Enter your password" [type]="hidePassword ? 'password' : 'text'"
            [formControl]="loginForm.controls['password']" required>
          <span class="passwd-icon" mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </span>
        </mat-form-field>

        <button mat-raised-button color="primary">Log In</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
