<app-header></app-header>
<div class="post-container">
  <mat-card *ngIf="post">
    <mat-card-header>
      <mat-card-title>{{ post.title }}</mat-card-title>
      <mat-card-subtitle *ngIf="creatorName">by {{ creatorName }}</mat-card-subtitle>
      <div class="fill-width"></div>
      <mat-icon *ngIf="postId" (click)="deletePost()" class="pointer">delete</mat-icon>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{ post.body }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="viewComments()" mat-button>{{ showComments ? 'HIDE' : 'VIEW' }} COMMENTS</button>
    </mat-card-actions>
  </mat-card>
  <div *ngIf="showComments && comments">
    <h3 mat-subheader>Comments</h3>
    <div *ngFor="let comment of comments" class="comment">
      <mat-card *ngIf="post">
        <mat-card-header>
          <mat-card-title>{{ comment.name }}</mat-card-title>
          <mat-card-subtitle>{{ comment.email }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{ comment.body }}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
