/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.mat-card {
  .mat-card-header {
    .mat-card-header-text {
      margin: 0 !important;
    }
  }
}

.fill-width {
  flex: 1;
}

.pointer {
  cursor: pointer;
}

.red-snackbar {
  background: #ffb9b9 !important;
  color: black;
}

.green-snackbar {
  background: #88ff8d !important;
  color: black;
}
